.container {
    background-color: black;
    color: white;
    border: 2px solid red;
    text-align: center;
    padding-top: 30px;
}
h1 {
    text-align: center;
    font-size: 55px;
    font-size: 50px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.paragraph {
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#paragraph2{
    font-style:initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}