 .about-page-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 h1 {
  font-size: 2.3rem;
  margin-bottom: 15px;
  color: #2c3e50;
}