.tag {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 30px 20px;
}

/* Top header section */
.tag-page-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Back Button */
.tag-page-content button {
  background: var(--accent);
  color: #fff;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s ease;
}

.tag-page-content button:hover {
  background: var(--accent-hover);
}

/* Heading */
.tag-page-content h2 {
  margin-top: 18px;
  color: var(--text-main);
  font-size: 1.4rem;
}

.tag-page-content span {
  color: var(--accent);
}
