.third-component {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: green;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.third-component p {
    margin-top: -2.7rem;
}