.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(17, 20, 24, 0.7); /* clean dark shade */
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1F242A;
  padding: 16px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* ---------- LOGO ---------- */
.logo img {
  height: 35px;
  transition: opacity 0.2s ease;
}

.logo img:hover {
  opacity: 0.85;
}

/* ---------- NAV MENU ---------- */
.navigation-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  gap: 26px;
}

.navigation-menu ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #A7A7A7;
  transition: 0.25s ease;
}

.navigation-menu ul li a:hover,
.navigation-menu ul li a.active {
  color: #E5E5E5; 
}

/* ---------- BUTTONS ---------- */
.buttons {
  display: flex;
  gap: 12px;
}

.buttons button {
  padding: 7px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.25s ease-in-out;
}

/* Primary Button */
.buttons button:first-child{
    background: #ffff; 
}
.buttons button:first-child:hover {
  background: #3f7ec7;
  color: #fff;
}

/* Secondary Button */
.buttons button:last-child {
  background: #ffff; 
}

.buttons button:last-child:hover {
  background: #3f7ec7;
  color: #fff;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .navigation-menu ul {
    display: none; /* hide nav items for mobile */
  }

  .header-container {
    padding: 14px 20px;
  }

  .buttons button {
    padding: 7px 14px;
  }
}
