.login-form-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form-container label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #e2e2e2;
}

.login-form-container sup {
  color: #ff5252;
}

.login-form-container input {
  width: 100%;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #2e2e2e;
  background-color: #111113;
  color: #ffffff;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s ease-in-out;
}

.login-form-container input:focus {
  border-color: #4c9aff;
}

.login-form-container span {
  margin-top: -38px;
  margin-left: 90%;
  cursor: pointer;
  color: #9b9b9b;
  font-size: 1.1rem;
}

/* Forget Password */
.login-form-container a p {
  margin-top: 10px;
  color: #559bff;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
}

/* Sign In button */
.login-form-container button {
  background: #4c9aff;
  border: none;
  padding: 11px;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.login-form-container button:hover {
  background-color: #3582e6;
}
