.header-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-part p {
    font-size: 30px;
    font-weight: 900;
    margin-left: 2rem;
}
.header-navigation {
    width: 300px;
    margin-right: 1rem;
}
.header-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-navigation ul li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}