.counter-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(65, 65, 182);
    color: white;
}
.value{
    font-size: 1.5rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
    color: black;
}
button {
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 1.4rem;
    background-color: rgb(65, 65, 182);
    color: rgb(209, 233, 211);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 900;
}
.reset {
    margin-top: 5px;
    width: 100%;
    color: rgb(209, 233, 211);
}