body {
    background-color: black;
}
.box-1 {
    height: 300px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
}
.box-2 {
    height: 300px;
    width: 800px;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}
.box-3 {
    height: 300px;
    width: 800px;
    background-color: red;
    color: yellow;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
}