/* Main Container */
.cart-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* For full layout containing items + summary */
.cart .cart-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Cart items list */
.cart-item {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Cart Summary Section */
.cart-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background: #f8f8f8;
}

.cart-details div:first-child {
  font-weight: 600;
  font-size: 1.5rem;
  color: #047857;
}

.cart-details div:nth-child(2) {
  font-weight: 700;
  font-size: 2.5rem;
  color: #065f46;
}

.cart-details p {
  font-size: 1.25rem;
}

.cart-details span {
  font-weight: 600;
  color: #374151;
}

/* Checkout section */
.checkout-part {
  margin-top: 1.25rem;
}

.checkout-part p {
  font-size: 1.25rem;
  font-weight: bold;
}

.checkout-part button {
  background-color: #047857;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 2px solid #047857;
  padding: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-part button:hover {
  background-color: white;
  color: #047857;
}

/* Empty Cart Page */
.empty-cart {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.empty-cart button {
  text-transform: uppercase;
  background-color: #047857;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 2px solid #047857;
  padding: 0.75rem 2rem;
  margin-top: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.empty-cart button:hover {
  background-color: white;
  color: #047857;
}

/* Responsive: Side-by-side layout on large screens */
@media (min-width: 768px) {
  .cart .cart-content {
    flex-direction: row;
  }

  .cart .cart-item {
    width: 60%;
  }

  .cart .cart-details {
    width: 40%;
  }
}
